.homePage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homeBackground {
    background: url(../images/homeBg.jpg);
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    overflow: auto;
    text-align: center;
}

.mainDialog {
    background: rgba(0,0,0,0.45);
    padding: 30px 20px 20px 20px;
    color:white;
    width: 600px;
    margin: 150px auto 0 auto;  /* 150px */
    border-radius: 10px;
}
.mainDialog h1{
    font-size: 40px;
    font-family: 'Fira sans', sans-serif;
    text-align: center;
}

.schedule_date, .schedule_address{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

ul#countdown {
    list-style: none;
    margin-top: 20px;
    padding: 0;
    display: block;
    text-align: center;
}

ul#countdown li {
    background: rgba(245, 176, 55, 0); /* making it transparent */
    display: inline-block;
    margin: 10px 1px;
    padding-top: 20px;
    width: 120px;
    height: 100px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

ul#countdown li span {
    font-family: 'Orbitron', sans-serif;
}
ul#countdown li p {
    font-family: "Economica", "sans-serif";
}

#days, #hours, #minutes, #seconds {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* About CSIS content*/
.aboutcsiscontent > p {
    width: 1000px;
    font-size: 20px;
    padding: 5px;
    margin: 5px auto;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
}
/* End of aboutCSIS content */

/* For scrollbar */
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* End of scrollbar style */

#section4, #section6 {
    background: -moz-radial-gradient(50% 50%, circle cover, #2daeae 0%, #006666 100%);
    background: -webkit-gradient(radial, 50% 50%, 0px, center center, 100%, color-stop(0%, #2daeae), color-stop(100%, #006666));
    background: -webkit-radial-gradient(0% 0%, circle cover, #2daeae 0%, #006666 100%);
    background: -o-radial-gradient(50% 50%, circle cover, #2daeae 0%, #006666 100%);
    background: -ms-radial-gradient(50% 50%, circle cover, #2daeae 0%, #006666 100%);
    background: radial-gradient(circle at 50% 50%, #2daeae 0%, #006666 100%);
}

/* Team Page Style */
.cardRow2 {
   width: 700px;
   height: 210px;
   margin: 0 auto;
}

.card2 {
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    position: inline-block;
    text-align:center;
    transition: 0.9s;
    width: 160px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
}

.card2 > img {
    width: 140px;
    height: 140px;
    border-radius: 75px;
    border: 5px solid #bebfc5;
}

.card2:hover {
    opacity: 1;
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.2);
}

.card2-container {
    position: relative;
    /*top:-35px;*/
    padding: 1px 2px 1px 2px;
    background-color: white;
    color:black;
    opacity: 0.7;
}

.card2-container > h4 {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}
.card2-container > p {
    font-size: 12px;
    font-family: 'Lora', serif;
}
/* End of team cards */

.cardHolder {
    width: 100%;
	height: 100%;
}

/* Style for Speakers page */
.cardRow {
   width: 1000px;
   height: 230px;
   margin-left: auto;
   margin-right: auto;
}

.card1 {
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(1,1,1,0.2);
    position: inline-block;
    text-align:center;
    transition: 0.9s;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
}

.card1 > img {
    max-width: 100%;
    max-height: 100%;
    height: 200px;
}

.card1:hover {
    opacity: 1;
    box-shadow: 10px 12px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    position: relative;
    top:-45px;
    padding: 1px 2px 1px 2px;
    background-color: white;
    color:black;
    opacity: 0.7;
}

.card-container > h4 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.card-container > p {
    font-size: 15px;
    font-family: 'Lora', serif;
}

.card-container > span {
    display: none;
    font-size: 12px;
    font-family: 'Lora', serif;
}

.headings{
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.headings:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #fac42b;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 3px;
}

/* for making box for sponsors*/
.title_sponsors {
    position: inline-block;
    text-align:center;
    transition: 0.9s;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.coding_partner {
    text-align: center;
    position: inline-block;
    text-align:center;
    transition: 0.9s;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    float: left;
}

.top_div { /* for group title and coding sponsors */
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    position: inline-block;
}

.sponsor_header {
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #AFA3A3;
}

.sponsor_header > h1 {
    font-size: 1.3em;
}

.major_sponsors {
    text-align: center;
    position: inline-block;
    transition: 0.9s;
    width: 900px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;

}

.major_sponsors > img {
    margin-left: 25px;
    margin-right: 25px;
}

.education_partner {
    text-align: center;
    position: inline-block;
    text-align:center;
    transition: 0.9s;
    width: 275px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    float: left;
}

.gold_sponsor {
    text-align: center;
    position: inline-block;
    text-align:center;
    transition: 0.9s;
    width: 275px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
}

.priting_partner {
    text-align: center;
    position: inline-block;
    text-align:center;
    transition: 0.9s;
    width: 275px;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    float: right;
}
.otherSponsors {
    max-width: 1000px;
    height: 230px;
    margin: 0 auto;
    text-align: center;
    position: inline-block;
}

.otherSponsors1 {
    max-width: 700px;
    height: 230px;
    margin: 0 auto;
    text-align: center;
    position: inline-block;
}

/* Basic style for every page */
.pagedata{
    width:100%;
    height: 90%;
    overflow: hidden;
}
.pageholder{
    height: 80%;
    width: 100%;
    overflow: hidden;
}
.pagecontainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
/* End of basic style */

.sponsorContainer{
    width: 800px;
    height:200px;
    margin: 0 auto 0 auto;
}

.sponsor{
    transition: 0.5s;
    float: left;
    margin: 5px 20px 5px 20px;
    padding: 15px;
}

.sponsor > img {
    width:200px;
    max-height: 200px;
}

.events > ol > li {
    list-style: none;
}
.events> ol > li >a:link {
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
}
.events > ol >li >a:visited{
    text-decoration: none;
}
.evnents > ol >li >a:hover {
    text-decoration: none;
}
.events > ol >li >a:active{
    text-decoration: none;
}

.events-content > ol > li > h2 {
    position: relative;
    font-size: 35px;
}

.faqPage {
    height: 100%;
    overflow: hidden;
}

.expandingFaq {
    width: 80%;
    margin: 40px auto 0 auto;
}

.faqElement {
    margin-top: 10px;
    position: relative;
}

.faqElement:before {
    font-family: 'Arial';
    content: "Q";
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 35px;
    cursor: pointer;
}

.faqQuestion {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    margin: 0;
    padding: 10px 40px 10px 50px;
    background-color: #ffa700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.faqAnswer {
    margin: 0;
    max-height: 0;
    overflow-y: hidden;
    font-size: 20px;
    font-family: 'Lora', serif;
    padding: 5px 5px 0px 5px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.activeFaqAnswer {
    background-color: white;
    font-size: 20px;
    font-family: 'Lora', serif;
    padding: 5px 5px 10px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
     -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}